# Logs
*.log
!storage/**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
*.env.example

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

vendor/
.env
storage/logs/browser.log
storage/logs/laravel.log
storage/framework
public/build
storage/logs/payments.log
.phpunit.result.cache
/vendor/_laravel_ide
public/hot
/vendor/_laravel_ide
/vendor/_laravel_ide
/storage/pail
/vendor/_laravel_ide
