@use 'const' as *;

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  background-color: $grey4;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1280px) {
    max-width: calc(100% - 40px);
  }

  @media (max-width: 768px) {
    max-width: calc(100% - 20px);
  }
}

.btn {
  outline: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  padding: 12px 42px;
  font-size: 18px;
  text-decoration: none;
  transition: .3s;
  display: inline-block;
  color: $blue1;
  text-align: center;

  @media (max-width: 1280px) {
    padding: 12px 36px;
  }

  @media (max-width: 992px) {
    font-size: 14px;
    padding: 8px 32px;
  }

  &--blue {
    color: $blue1;

    &:hover {
      background-color: $grey4;
      color: $blue2;
    }

    &-fill {
      background-color: $blue1;
      color: white;

      &:hover {
        background-color: $blue2;
      }
    }
  }

  &--white {
    color: white;

    &-fill {
      background-color: white;
      color: $lightblue2;

      &:hover {
        background-color: $grey4;
      }
    }
  }

  &--green {
    color: $green1;

    &:hover {
      background-color: $grey4;
      color: $green2;
    }

    &-fill {
      background-color: $green1;
      color: white;

      &:hover {
        background-color: $green2;
      }
    }
  }

  &--medium {
    padding: 8px 22px;
    font-size: 16px;
  }

  &--small {
    padding: 0;
    background-color: transparent;
  }
}

.link {
  color: $blue1;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: $blue2;
  }
}

.close {
  font-size: 0;
  width: 24px;
  height: 24px;
  top: 26px;
  right: 26px;
  border: 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
  background-image: url(../img/icons/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  outline: none;

  @media (max-width: 992px) {
    width: 18px;
    height: 18px;
    top: 20px;
    right: 20px;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey1;
}

.h1 {
  margin: 26px 0;
  font-size: 32px;

  @media (max-width: 992px) {
    font-size: 24px;
  }

  &:first-child {
    margin-top: 0;
  }
}

.h2 {
  font-size: 24px;

  @media (max-width: 992px) {
    font-size: 20px;
  }
}

.h3 {
  font-size: 18px;
  font-weight: 700;
}

.title {
  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-wrap {
    display: flex;
    align-items: center;
    gap: 16px;

    .h1 {
      margin: 0;
    }
  }

  &-icon {
    font-size: 0;

    img {
      @media (max-width: 992px) {
        height: 24px;
        width: 24px;
      }
    }
  }
}