$grey1: #333;
$grey2: #666;
$grey3: #EEE;
$grey4: #F9F9F9;
$blue1: #1F60DA;
$blue2: #194CAD;
$lightblue1: #1CBECF;
$lightblue2: #27ABBF;
$green1: #1CCF86;
$green2: #08a868;
$red1: #D73B0B;
$red2: #9f2d0b;